@require '../../../../styles/ref'

.memberInvite
  &View
    null

  &Link
    null

    &Divider
      divider()
      margin: qu(4) 0 10px

    &Description
      margin-top: qu(2)
      overflow: scroll
      color: $gray50

      > .username
        display: inline-block
        font-weight: bold
