@require '../../../../styles/ref'

.workspaceHeaderView
  $wrapMaxWidth = 200px
  $sectionMaxWidth = $wrapMaxWidth - 60

  position: relative
  z-index: 100
  display: flex
  justify-content: space-between
  align-items: center
  min-width: $layoutMinWidth
  height: $headerHeight
  background: alpha($white, 95%)
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15)

  > *
    font-size: 16px
    line-height: $headerHeight

  .workspaceInfo

    display: inline-block
    padding: 0 qu(4)
    border-right: 1px solid $gray93
    cursor: pointer
    transition: all 218ms

    &Wrap
      width: $wrapMaxWidth

    .workspaceName
      display: block
      float: left
      font-size: 18px
      max-width: $sectionMaxWidth
      text-overflow()

    .handlerIcon
      margin-left: qu(2)
      font-size: 12px
      color: $gray50

    &:hover
      background: $gray97

  .workspaceLogo
    display: flex
    cursor: pointer

    .defaultLogo
      opacity: 0.75

    &:hover
      .defaultLogo
        opacity: 0.9

  .workspaceUserInfo
    flex: 0 0 auto
    display: flex
    align-items: center
    padding: 0 qu(4)
    border-left: 1px solid $gray93
    cursor: pointer
    transition: all 218ms

    &Wrap
      display: flex
      justify-content: flex-end
      width: $wrapMaxWidth

    .infoAvatar
      margin-right: qu(3)

    .infoUsername
      max-width: $sectionMaxWidth
      text-overflow()

    &:hover
      background: $gray97

// Popup
.workspaceSwitcherDropdown
  // @FIXME: Hack position
  left: 8px !important
  width: 320px

  .workspaceSwitcherItem
    padding-top: 14px
    padding-bottom: 14px
