@require '../../styles/ref'

.cardView
  background: $white
  border-radius: $radius
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05)

  &.withTitle
    .cardBody
      padding: qu(5)

  .cardTitle
    padding: qu(5)
    border-bottom: 1px solid $gray93
    font-size: 18px
    font-weight: 500

  .cardBody
    null
