@require '../../../../../styles/ref'

$namespace = '.secretsListCell'

.secretsListCell
  &View
    &:hover
      {$namespace}MoreHandler
        opacity: 1

    > .cardBody
      padding: qu(4)

  &MoreHandler
    display: flex
    justify-content: center
    height: 20px
    width: 20px
    background: $gray97
    border-radius: 50%
    opacity: 0
    transition: all 218ms

    &:hover
      background-color: alpha($brand, 4%)

.secretDetail
  &Divider
    divider(qu(3))

  &Header
    display: flex
    justify-content: space-between

    {$namespace}MoreHandler
      flex: 0 0 auto

    &Name
      font-size: 16px
      padding-right: qu(3)
      text-overflow()

  &Infos
    margin-top: qu(3)
    border: 1px solid $gray93
    border-radius: $radius

    .secretDetailNote + &
      margin-top: qu(5)

    &Item
      display: flex
      justify-content: space-between
      align-items: flex-start
      padding: qu(2) qu(4)

      & + &
        border-top: 1px solid $gray93

      &Label
        display: flex
        align-items: center
        flex: 0 0 auto
        min-width: 50px
        color: $gray65

        .icon
          margin-right: qu(2)

      &Value
        flex: 1 auto
        margin: 0 qu(3)
        word-break: break-word

      &Handler
        flex: 0 0 auto
