@require '../../styles/ref'

.avatarView
  display: inline-block
  background-color: $gray93
  background-size: cover !important
  background-repeat: no-repeat !important
  background-position: center !important
  border-radius: 50%

  &.sizeSmall
    width: 24px
    height: 24px

  &.sizeNormal
    width: 36px
    height: 36px

  &.sizeBig
    width: 48px
    height: 48px
