@require '../../../../styles/ref'

// @TODO: Abstract a new styled modal
.secretMake
  $baseSpacing = qu(4)
  $bgColor = $gray97
  $borderColor = $gray90

  &View
    null

  &Header
    font-size: 18px

    &Title
      padding-right: qu(7)
      text-overflow()

  &Content
    .fieldGroup
      [class*=field]
        margin-bottom: 0

        .input
          position: relative
          border-radius: 0
          transition: border-color 318ms, box-shadow 318ms

        &:first-child .input
          border-top-left-radius: $radius
          border-top-right-radius: $radius

        &:last-child .input
          border-bottom-left-radius: $radius
          border-bottom-right-radius: $radius

        &:not(:first-child):not(:last-child)
          .input
            z-index: 2
            height: ($inputHeight - 2)
            border-top-width: 0
            border-bottom-width: 0

            &:focus
              box-shadow: 0 -1px 0 0 $gray65, 0 1px 0 0 $gray65

  &Divider
    divider($baseSpacing)
    margin-left: -($baseSpacing)
    margin-right: -($baseSpacing)
    border-color: $borderColor

  // External
  &Modal
    width: 566px !important

    .modal-content
      background: $bgColor
