@require '../../../../styles/ref'

.workspaceSidebarView

  .navGroup
    padding-top: qu(5)

    .navGroupTitle
      margin-left: qu(5)
      margin-bottom: qu(4)
      font-weight: 500
      color: $gray50

    .navGroupList
      margin-bottom: qu(3)

      .navItem
        position: relative
        display: flex
        align-items: center
        color: $black
        padding: qu(2) qu(5)
        padding-right: qu(8)
        cursor: pointer
        transition: background-color 218ms

        & + .navItem
          margin-top: qu(1)

        span
          display: inline-block
          text-overflow()

        &:after
          content: ' '
          display: block
          position: absolute
          top: 50%
          right: qu(6)
          width: 5px
          height: 5px
          margin-top: -2.5px
          background: $brand
          border-radius: 50%
          opacity: 0
          transition: transform 418ms, opacity 318ms
          transform: translate3d(25px, 0 ,0)

        &:hover
          background: $gray98

        &.isActive
          background: $gray98
          color: $black

          &:after
            transform: translate3d(0, 0 ,0)
            opacity: 1

      .icon
        position: relative
        top: -1px
        flex: 0 0 auto
        margin-left: 3px
        margin-right: 9px
        font-size: 16px
        color: $gray50
