@require '../../../styles/ref'

// Variables
$baseSpacing = qu(4)
$noticeMinHeight = 52px
$noticeMaxHeight = 100px
$animationDuration = 268ms

// Toast
.toast
  position: fixed
  display: flex
  flex-direction: column
  z-index: $zIndexToast
  width: qu(74)

  // Placement Hack
  &
    top: auto !important
    bottom: auto !important
    left: auto !important
    right: auto !important

  &.placementBottomLeft
    left: qu(8) !important
    bottom: $baseSpacing !important

  &-notice
    position: relative
    margin-bottom: $baseSpacing
    border-radius: $radius
    overflow: hidden
    box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, .1)

    // Hack
    &
      right: 0 !important

  // @FIXME: Redraw the icon
  &-notice-close
    position: absolute
    top: 19px
    right: 16px
    width: 16px
    height: 16px
    opacity: .7
    cursor: pointer
    transition: opacity 218ms

    &:hover
      opacity: 1

    &:before,
    &:after
      content: ''
      position: absolute
      top: 6px
      width: 16px
      height: 2px
      background-color: $gray65
      backface-visibility: hidden

    &:before
      transform: rotate(45deg)

    &:after
      transform: rotate(-45deg)

  // Animation
  &-fade-enter
    animation-name: noticeEnter
    animation-duration: $animationDuration

  &-fade-leave
    animation-name: noticeLeave
    animation-duration: $animationDuration

  &-fade-enter,
  &-fade-leave
    animation-play-state: paused
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.47, 1)

  &-fade-enter-active,
  &-fade-leave-active
    animation-play-state: running

  @keyframes noticeEnter
    0%
      max-height: $noticeMinHeight
      margin-bottom: -($noticeMinHeight)
      opacity: 0

    100%
      max-height: $noticeMaxHeight
      margin-bottom: $baseSpacing
      opacity: 1

  @keyframes noticeLeave
    0%
      max-height: $noticeMaxHeight
      margin-bottom: $baseSpacing
      transform: translateY(0)
      opacity: 1

    100%
      max-height: 0
      margin-bottom: 0
      transform: translateY(80%)
      opacity: 0
