@require '../../styles/ref'

.badge

  &View
    display: inline-flex
    justify-content: center
    align-items: center
    padding: 0 qu(1)
    background: $brand
    border: 1px solid $white
    color: $white

  &Count
    display: inline-block
    padding: 0 1px
    font-family: Open Sans, -apple-system, Helvetica Neue
    font-size: 12px
