@require '../../../../styles/ref'

.accountSettingsView

  .settingsSection
    padding: 0 qu(2)

    input
      width: 100%

    & + .settingsSection
      margin-top: qu(7)

    &Title
      line-height: qu(8)
      margin-bottom: qu(5)
      font-weight: 500

    &Content
      null

    &Item
      display: flex
      align-items: center
      padding-bottom: qu(2)
      margin-bottom: qu(5)

      &Label
        flex: 0 0 auto
        min-width: 80px
        margin-right: qu(5)
        color: $gray50

      &Content
        display: flex
        align-items: center
        flex: 1 0 auto

      .upload-select
        margin-left: qu(5)
