@require '../../../styles/ref'

@require '../field-label/field-label.view'

.input
  height: $inputHeight
  min-width: qu(19)
  padding: 10px qu(3)
  font-size: 14px
  color: inherit
  vertical-align: top
  background-color: $white
  border: 1px solid $gray85
  border-radius: qu(1)
  outline: 0
  transition: border 318ms
  resize: none

  &[disabled]
    background-color: $gray97
    color: $gray50
    // @Compatibility: http://stackoverflow.com/questions/262158/disabled-input-text-color
    -webkit-text-fill-color: $gray50
    cursor: not-allowed

  &:focus
    border-color: $gray65

  // Label
  &-label
    @extend .fieldLabel

  // Group
  &-group
    position: relative
    display: table
    border-collapse: separate
    border-spacing: 0
    width: 100%

    // Addon
    &-addon
      display: table-cell
      position: relative
      width: 1px
      white-space: nowrap
      vertical-align: middle
      font-size: 12px
      font-weight: 400
      line-height: 1
      text-align: center
      border: 1px solid $gray85
      border-radius: $radius
      overflow: hidden

      > *
        padding: qu(3)
        cursor: pointer
        transition: all 318ms

        &:hover
          background-color: $gray97

      &:first-child
        border-right: 0
        border-bottom-right-radius: 0
        border-top-right-radius: 0

      &:last-child
        border-left: 0
        border-bottom-left-radius: 0
        border-top-left-radius: 0

    .input
      display: table-cell
      float: left
      width: 100%
      border-bottom-right-radius: 0
      border-top-right-radius: 0

  // Prefix & suffix
  &-preSuffix-wrapper
    position: relative
    display: inline-block
    width: 100%

    input
      padding-left: qu(9)

  &-prefix,
  &-suffix
    position: absolute
    z-index: 3
    top: 50%
    line-height: 0
    transform: translateY(-50%)

    .icon
      color: $gray65
      offset-icon(1)

  &-prefix
    left: qu(3)

  &-suffix
    right: qu(3)
