@require '../../../styles/ref'

.input
  height: qu(10)
  min-width: qu(19)
  padding: 10px qu(3)
  font-size: 14px
  color: inherit
  vertical-align: top
  background-color: transparent
  border: 1px solid $gray85
  border-radius: qu(1)
  outline: 0
  transition: border 318ms

  &[disabled]
    background-color: $gray97
    color: $gray50
    // @Compatibility: http://stackoverflow.com/questions/262158/disabled-input-text-color
    -webkit-text-fill-color: $gray50
    cursor: not-allowed

  &:focus
    border-color: $gray65
