@require '../../../../../styles/ref'

.entriesListView
  margin: qu(-2)

  .entriesListCellView + .entriesListCellView
    margin-top: qu(3)

  .endPointWrapper
    margin-top: qu(4)
    margin-bottom: 0
