// Fade
.fade-transition
  &-enter,
  &-leave-active
    opacity: 0

  &-enter-active
    opacity: 1

  &-enter-active,
  &-leave-active
    transition-duration: 218ms

// Switch　card
// TODO: Duration & Margin Tuning
.switch-card-transition
  &-enter,
  &-leave-active
    opacity: 0
    transform: translate3d(0, 40px, 0)
    transition-duration: 468ms
    transition-timing-function: ease-in-out
    transition-property: opacity, transform

  &-enter
    &-active
      opacity: 1
      transform: translate3d(0, 0, 0)
      transition-duration: 368ms
      transition-delay: 150ms

  &-leave-active
    z-index: $zIndexLayer
    transform: translate3d(0, -60px, 0)

// Expand width
.expand-width-transition
  &-expand-width-enter,
  &-expand-width-leave-active
    width: 0
    transition-property: width
    transition-duration: 368ms
