// Global
[class*='-transition']
  transition-duration: 368ms

// Switch　Card
// TODO: Duration & Margin Tuning
.switch-card-transition
  &-enter,
  &-leave-active
    opacity: 0.01
    transform: translate3d(0, 30px, 0) scale(0.99)
    transition-timing-function: ease-in-out
    transition-property: opacity, transform

  &-enter
    &-active
      opacity: 1
      transform: translate3d(0, 0, 0) scale(1)
      transition-duration: 268ms
      transition-delay: 150ms

  &-leave-active
    z-index: $zIndexLayer

.expand-width-transition
  transition-property: width

  &-expand-width-enter,
  &-expand-width-leave-active
    width: 0
