a
  color: $gray65
  transition: color 218ms
  text-decoration: none
  cursor: pointer

  &:hover
    color: $gray50

  &.linkHandler
    &:hover
      color: $brand

  .icon
    float: left
    margin-right: 5px

  &.icon,
  .svg-symbol,
  &.svg-symbol
    color: $gray65
    increase-area()

    &:hover
      color: $brand

.tips,
.desc
  color: $gray50

.muted
  color: $gray65
