a
  .icon
    float: left
    margin-right: 5px

  &.icon,
  .svg-symbol,
  &.svg-symbol
    color: $gray65
    increase-area()

    &:hover
      color: $brand

.tips,
.desc
  color: $gray50

.muted
  color: $gray65
