// Reset
*,
:after,
:before
  box-sizing: border-box

:focus
  outline: none

ul
  padding: 0
  margin: 0
  list-style: none

// Scaffolding
html,
body
  width: 100%
  height: 100%

body
  line-height: 20px
  margin: 0
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 14px
  background: $gray96
  color: $black
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
