@require '../../../../styles/ref'

.entryDetail
  $baseSpacing = qu(4)
  $bgColor = $gray97
  $borderColor = $gray90

  &View
    null

  &Header
    padding-top: qu(1)

    // Override Item
    .entryItemHero
      transform: scale(1.1)
      margin-right: 14px

    .entryItemTitle
      margin-bottom: qu(2)
      line-height: 22px
      font-size: 18px
      text-overflow()

    .entryItemMoreHandler .icon
      font-size: 17px

    .entryItemMeta
      &Item
        & + &
          margin-left: qu(3)

    .entryItemHandlerset
      margin-right: qu(8)

  &Divider
    divider($baseSpacing)
    margin-left: -($baseSpacing)
    margin-right: -($baseSpacing)
    border-color: $borderColor

  &Content
    .cardView
      border: 1px solid $borderColor
      box-shadow: none

    .buttonNormal
      border-color: $borderColor
      background: $white

      &:hover
        border-color: $brand

    &Section
      & + &
        margin-top: $baseSpacing

      .loadingWrap
        height: 133px

  // External
  &Modal
    .modal-close
      margin-top: 1px

    .modal-content
      background: $bgColor
