@require '../../../styles/ref'

.workspaceLayout
  $sidebarWidth = 286px
  $baseSpacing = qu(5)
  $sidebarMinWidth = ($sidebarWidth * 0.6)
  $contentWidth = $layoutMinWidth - $sidebarWidth

  min-height: 100vh

  .workspaceHeaderView
    position: fixed
    z-index: $zIndexHeader
    top: 0
    width: 100%

  .workspaceMain
    display: flex
    align-items: flex-start
    min-width: $layoutMinWidth
    padding: $baseSpacing
    padding-top: $headerHeight + $baseSpacing
    margin: 0 auto

    .workspaceSidebar
      width: 25%
      max-width: $sidebarWidth
      min-width: $sidebarMinWidth
      margin-right: $baseSpacing
      transition: all 368ms

    .workspaceContent
      position: relative
      width: 100%
      min-width: $contentWidth

    .workspaceType
      [class*="switch-card-transition"]
        position: absolute

      > .cardView,
      .workspaceCardLayer > .cardView
        $offset = $headerHeight + $baseSpacing * 2
        display: flex
        flex-direction: column
        width: 100%
        max-height: "calc(100vh - %s)" % $offset

        > .cardHeader
          flex: 0 0 auto

        > .cardBody
          flex: 1 auto
          overflow: auto
