@require '../../../styles/ref'

.menuSelectorItem
  position: relative
  display: flex
  align-items: center
  padding: 8px 40px 8px 16px
  cursor: pointer

  &:hover
  &.isFocused
    background: $gray97

  &.isSelected
    null

  &.isDisabled
    color: $gray50
    cursor: not-allowed

    &:hover
      background: transparent

  .mainInfoWrap
    display: inline-flex
    flex-direction: column
    min-width: 0

  .title,
  .description
    display: inline-block
    text-overflow()

  .description
    font-size: 12px
    color: $gray65

  .selectedLabel
    position: absolute

  .avatar
    margin-right: qu(4)

  .colorLabel
    width: 8px
    height: 8px
    margin-left: qu(1)
    margin-right: qu(4) + qu(1)
    border-radius: 50%

  .icon
    margin-right: qu(4)
    color: $gray50

  .errorMessage
    display: inline-block
    height: 20px
    line-height: 18px
    padding: 0 8px
    margin-left: 8px
    border: 1px solid $red
    border-radius: 9px
    font-size: 12px
    color: $red

  .selectedLabel
    right: 0
    color: $gray50

  &.typeDivider
    divider()
    cursor: default
