@require '../../../styles/ref'

.dropdown
  max-width: none
  padding: 0
  text-align: left
  background-color: $white
  border-radius: $radius
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.1)

  &-hidden
    display: none

  &Menu
    padding: 5px 0

    li
      a
        display: block
        min-width: 168px
        max-width: 260px
        padding: 5px 35px 5px 15px
        line-height: 24px
        color: $black
        cursor: pointer
        outline: none
        text-overflow()

        &:hover,
        &:focus
          background-color: $gray97

    .divider
      margin: 4px 0
      border-top: 1px solid $gray93
